header#cabecalho{
	position: relative;
	width: 100%;
	height: 100%;
}

header#cabecalho h1{
	text-align: left;
	position: absolute;
	padding-left:3%;
	color: white;
	font-family: 'Khand', sans-serif;
	font-size: 48pt;
	animation-duration: 0.5s;
	animation-name: surgir;
	text-shadow: 6px 6px #333;
}

div#fundoNav img{
	width: 100%;
	height: 100%;
  	border-radius: 0 0 15px 15px;
  	animation-duration: 0.7s;
	animation-name: surgir;
}

div#meio{
	background-color: white;
	position: relative;
	width: 100%;
}

div#meio p{
	font-family: 'Quicksand', sans-serif;
	color: black;
	padding-top: 6%;
	font-size: 28pt;
	text-align: center;
	position: relative;
	margin-left: 7%;
	margin-right: 7%;
}

div#meio h1#subtitle{
	padding-top: 6%;
	font-family: 'Exo 2', sans-serif;
	text-align: center;
	color: #D95F43;
	font-size: 48pt;
	text-shadow: 2px 2px #333;

}

div#meio img#machine{
	padding-top: 7%;
	position: relative;
	transition: 0.5s;
	width: 20%;
	height: 20%;
	z-index: 0;
}

div#meio img#machine:hover{
	transform: scale(1.2);
}

div#meio p#dica{
	font-size: 12pt;
	padding-top: 1%;
	color: black;
}